/* CSS HEX
--wenge: #5D5250ff;
--mustard: #FFD767ff;
--mint: #77C39Dff;
--platinum: #E9E7E4ff;
--light-coral: #F37785ff;
*/
:root {
  --wenge: #5D5250ff;
  --mustard: #FFD767ff;
  --mint: #77C39Dff;
  --platinum: #E9E7E4ff;
  --light-coral: #F37785ff;

  --gradient-main: linear-gradient(135deg, var(--platinum), var(--mint));
  --gradient-button: linear-gradient(135deg, var(--mustard), var(--light-coral));
}

body {
  background: var(--gradient-main);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--platinum);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  min-height: 100vh;
}

header, .navbar {
  background: var(--gradient-header); /* Gradient header */
  color: var(--platinum);
}

h1, h2, h3 {
  color: var(--light-coral);
}

.btn-custom {
  background: var(--gradient-button);
  color: var(--wenge);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.btn-custom:hover {
  background: var(--light-coral);
  color: var(--platinum);
  transform: scale(1.05);
}

html, body {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book {
  border: 1px solid var(--wenge);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 250px;
  text-align: center;
  background-color: var(--platinum);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.book img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.book h3, .book h4 {
  color: var(--wenge);
}

.book p {
  color: var(--wenge);
}

.book a {
  color: var(--wenge);
  text-decoration: none;
}

.book a:hover {
  color: var(--light-coral);
  text-decoration: underline;
}
